<div class="row">
    {{#each games}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p>{{description}}</p>
                <p>{{type}}</p>
                <p>{{price}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>